@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  .excerpt {
    display: flex;
    width: 100%;
  }

  p {
    width: 90%;
    font-size: 90%;
    line-height: 1.4;
  }

  h3 > span {
    font-size: 60%;
    margin: 10px;
    font-weight: 350;
  }

  .emoji-box {
    width: 10%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
  }
  .emoji {
    display: block;
    margin: 0px;
    opacity: 90%;
  }
  @media screen and (max-width: 450px) {
    .excerpt {
      position: relative;
    }
    .emoji-box {
      position: relative;
      width: 20%;

      top: 20%;
      left: -50%;
      z-index: -1;
      opacity: 60%;
    }

    h3 > span {
      display: block;
      margin: 0;
    }
  }
}

.thumbnail.visible {
  opacity: 1;
}
